//Colors :Peperoni pizza
$color-1: #F4C352;
$color-2: #B6913C;
$color-3: #B6513C;
$color-4: #3E52A6;
$color-5: #2C844D;
$color-6: #F46446;
$color-7: white;

$font-family-1: 'Press Start 2P', cursive;;
$font-family-2: 'Cutive Mono', monospace;;


//Font size:
$fontsize-header-1: 3.5rem;
$fontsize-header-2: 2rem;
$fontsize-header-3: 2.5rem;
$fontsize-form: 1.5rem;
$fontsize-paragraph: 1.5rem;

//Margin sizes:
$marginbottom-large: 6rem;
$marginbottom-medium: 3rem;
$marginbottom-small: 1rem;
