.img{
    display:block;
    position: relative;
    width: auto;
    height: auto;

    &_1{

    }

    &_2{
        max-height: 35rem;
        width: 100%;
    }

    &_4{

        width: 100%;
    }
}
