.main {
    position: relative;

    &_article {
        display:grid;
        position: relative;
        margin: 4rem auto 4rem auto;
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        grid-template-rows: repeat(auto-fit,minmax(10rem,1fr));

        @include respond(tab-port) {
            display:flex;
            flex-direction: column;
        }

        &_section{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .grid-1{
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end:2 ;
        }

        .grid-2{
            background-color: $color-3;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 4;
            text-align: justify;
        }

        .description{
            padding: 4rem
        }

        .grid-3{
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .grid-4{
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 3;
            grid-column-end: 4;
        }

        .grid-5{
            align-content: center;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .link{
            @include respond(tab-land){
                margin: 5rem 0;
                &:hover{
                    color: #1c3083;
                }
            }
        }
    }
}
